<div class="module shopping-data">
  <% if add_external_links_enabled? && plan_shopping_enabled? %>
    <%= button_to find_your_doctor_url, class: 'btn btn-primary btn-large', form: {target: '_blank'}  do %>
      Find Your Doctor &nbsp;<i class='fa fa-external-link-alt' aria-hidden='true'></i>
    <% end %>
  <% end %>

  <div class="pull-left">
    <span class="ttu lg twelve" data-cuke="coverage-for"><%= l10n("coverage_for") %></span>
    &nbsp;
    <strong><%= plan_shopping_dependent_text(@context.hbx_enrollment) %></strong>
    &nbsp;&nbsp;

    <% if ['shop', 'employer_sponsored', 'employer_sponsored_cobra'].include?(@context.market_kind) && ['health', 'dental'].include?(@context.coverage_kind) %>
    Employer: &nbsp;
    <strong id='employer-name'><%= @context.hbx_enrollment.try(:benefit_sponsorship).try(:organization).try(:legal_name) %></strong>
    &nbsp;&nbsp;
    <% end %>
    <span class="ttu lg twelve" data-cuke="plan-count"><%= l10n("plans_for") %></span>
    &nbsp;
    <strong id='plans-count'><%= @context.member_groups.count %></strong>
    &nbsp;&nbsp;
    <span class="ttu lg twelve"><%= l10n("effective_date_for") %></span>
    &nbsp;
    <strong id='effective_date'><%= @context.hbx_enrollment.effective_on %></strong>
  </div>
  <br/>
</div>
