- no_purchase = (defined? no_purchase) ? no_purchase : false
- kind = (defined? kind) ? kind : 'employer_sponsored'
- show_button=(defined? show_button) ? show_button : 'false'

- if step == "eligible_continue"
  = link_to 'CONTINUE', eligible_coverage_selection_insured_members_selections_path(@mini_context.to_h), class: 'btn btn-lg btn-primary  btn-block', id: 'eligible-btn-continue'
- elsif step == 3 && !no_purchase
  - qle = (@change_plan == 'change_by_qle' || @enrollment_kind == 'sep')
  = link_to purchase_or_confirm, checkout_insured_plan_shopping_path(@enrollment.id, plan_id: @plan.id, change_plan: @change_plan, coverage_kind: @coverage_kind, market_kind: @market_kind), :class => "btn btn-lg btn-primary  btn-block #{'disabled' if kind == 'individual'}", id: 'btn-continue', :method => :post, :disabled => disable_purchase?(!@enrollable, @enrollment, qle: qle)
  %ul.list-unstyled.list-right-section
    %li
      %a.back{href: '#'}
        = image_tag 'icons/list.png'
        PREVIOUS
- elsif step == 4
  = link_to 'GO TO MY ACCOUNT', family_account_path, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue', style: 'width: 100%;'
