- no_purchase = (defined? no_purchase) ? no_purchase : false
- show_waive = (defined? show_waive) ? show_waive : false

- if step == "eligible_continue"
  = link_to 'CONTINUE', eligible_coverage_selection_insured_members_selections_path(@mini_context.to_h), class: 'btn btn-lg btn-primary  btn-block', id: 'eligible-btn-continue'
- elsif step == 2 && !no_purchase
  - enrollment = @context.hbx_enrollment || @context.enrollment
  - disabled_in_ivl = (enrollment && enrollment.is_shop?) ? '' : 'disabled'
  = link_to 'Confirm', checkout_insured_product_shoppings_path(build_hash_to_checkout(@context)), :class => "btn btn-lg btn-primary  btn-block #{disabled_in_ivl}", id: 'btn-continue', :method => :post, :disabled => disable_purchase?(!@context.enrollable, @context.enrollment)
  %ul.list-unstyled.list-right-section
    %li
      %a.back{href: '#'}
        = image_tag 'icons/list.png'
        PREVIOUS
- elsif step == "thank_you"
  = link_to 'Confirm', checkout_insured_product_shoppings_path(build_hash_to_checkout(@context, @waiver_context)), :class => "btn btn-lg btn-primary  btn-block #{disabled_in_ivl}", id: 'btn-continue', :method => :post
  %ul.list-unstyled.list-right-section
    %li
      %a.back{href: '#'}
        = image_tag 'icons/list.png'
        PREVIOUS
- elsif step == "waiver_thank_you"
  = link_to 'Confirm', waiver_checkout_insured_product_shoppings_path(build_hash_to_checkout(@context)), :class => "btn btn-lg btn-primary  btn-block #{disabled_in_ivl}", id: 'btn-continue', :method => :post
  %ul.list-unstyled.list-right-section
    %li
      %a.back{href: '#'}
        = image_tag 'icons/list.png'
        PREVIOUS        
- elsif step == "receipt"
  = link_to 'CONTINUE', family_account_path, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue'
